# Write your default config options here!

# NOTICE: mplayer will resample to the Fs of JACK
# af=resample=44100:0:2 # not necessary

# USE:
#   ao=jack:name=<mplayer_port_name>:noconnect
# OR
#   ao=jack:name=<mplayer_port_name>:port=<destination_port_name>


# (i) pe.audio.sys works with alias for 'loopback' ports, but
#     mplayer doesn't know how to connect to the alias 'pre_in_loop'.

[dvb]
ao=jack:name=mplayer_dvb:port=loopback

[cdda]
ao=jack:name=mplayer_cdda:port=loopback
speed=1
# Try cache=1024 to avoid playback breakdowns
cache=1024
cdrom-device=/dev/cdrom
#cdrom-device=/dev/sr1

[istreams]
ao=jack:name=mplayer_istreams:port=loopback


